@media ( max-width: 1572px ) {
  .contacts__container {
    flex-direction: column;
    align-items: normal;
    gap: 30px;
  }

  .form__input {
    width: 31%;
  }

  .form__input_btn {
    width: 43%;
  }
}

@media (max-width: 1200px) {
.header {
  position:relative;
  padding-top: 33px;
  padding-bottom: 71px;
}

.container {
  padding-left: 49px;
  padding-right: 28px;
}

.header__container {
  position: relative;
}

.header__logo img {
  height: 42px;
  width: 188px;
}

.header__nav {
  position: absolute;
  bottom: -45px;
  left: 0;
  width: 100%;
}

.hero {
  background-image: url("../img/fon1024.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero__content {
  padding-top: 99px;
  padding-bottom: 101px;
}

.hero__descr {
  max-width: 666px;
  margin-bottom: 133px;
}

.gallery__contain {
  flex-direction: column;
  align-items: center;
}

.storage__left {
  align-self: flex-start;
}

.gallery__title {
  margin-bottom: 29px;
}

.gallery__contain {
  gap: 24px;
}

.painter__title {
  margin-bottom: 8px;
}

.painter__item {
  flex-direction: column;
  gap: 30px;
}

.painter__content {
  width: 100%;
}

.painter__picture img {
  height: auto;
  width: 99%;
  object-fit: contain;
}

.catalog {
  padding-bottom: 84px;
}

.catalog__list {
  gap: 53px;
}

.painter__time {
  margin-bottom: 16px;
  font-weight: 400;
  line-height: normal;
}

.events__picture {
  display: inline-flex;
  margin: 0;
}

.events__content {
  border: 1px solid #cacaca;
  border-top: none;
  padding-top: 13px;
  padding-left: 34px;
  padding-right: 34px;
}

.events__img {
  height: 200px;
}

.events__item {
  width: calc((100% - (27px * var(--indent))) / (var(--indent) + 1));
}

.events__list {
  gap: 27px;
}

.events__title {
  margin-bottom: 21px;
}

.events__time {
  margin-left: auto;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 3px;
  text-align: end;
}

.events__header {
  line-height: 33px;
  margin-bottom: 8px;
}

.events__descr {
  margin-bottom: 20px;
}

.projects {
  padding-top: 86px;
}

.project__title {
  margin-bottom: 20px;
}

.projects__descr {
  margin-bottom: 20px;
}

.projects__header {
  margin-bottom: 15px;
}

.contacts {
  padding: 36px 0;
  padding-bottom: 47px;
}

.address__strong {
  margin-bottom: 9px;
  line-height: 34px;
}

.addres__span {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.form__input {
  width: auto;
}

.div__input {
  width: auto;
}

.div__input .form__input {
  width: 100%;
}

.footer {
  padding-top: 43px;
  padding-bottom: 37px;
}

.footer__container {
  align-items: center;
}

.footer__svg {
  width: 60px;
  height: 60px;
}
}

@media (max-width: 992px) {

.header {
  padding-bottom: 69px;
}

.nav__bnt{
  width: auto;
}

.header__nav {
  width: 99%;
}

.hero {
  background-image: url("../img/fon768.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__content{
  padding-top: 87px;
  padding-bottom: 85px;
}

.hero__descr {
  max-width: 556px;
}

.us__title {
  margin-bottom: 22px;
}

.us {
  padding-bottom: 70px;
}

.gallery__contain {
  gap: 25px;
}

.storage__right {
  gap: 34px;
}

.storage__img {
 width: calc((100% - (34px * var(--indent))) / (var(--indent) + 1));
}

.painter__item {
  gap: 28px;
}

.painter__time {
  margin-bottom: 7px;
}

.events__list {
  flex-direction: column;
}

.events__item {
  width: 100%;
}

.events__img {
  height: auto;
  width: 100%;
  object-fit: contain;
}

.events__time {
  letter-spacing: 0.1px;
  margin-bottom: 2px;
}

.events__header_max-width {
  max-width: 493px;
}

.events__header {
  margin-bottom: 14px;
}

.events__descr {
  margin-bottom: 55px;
}

.projects__descr {
  margin-bottom: 28px;
}

.projects__header {
  margin-bottom: 28px;
}

.addres__form {
  flex-wrap: wrap;
  gap: 13px;
}

.form__input {
  width: 48%;
}

.div__input {
  width: 48%;
}

.div__input .form__input {
  width: 100%;
}

.form__input_btn {
  width: 47%;
  padding: 12px 20px 12px 17px;
}

.address__strong {
  display: inline-block;
  margin-bottom: 8px;
}

.contacts {
  padding-bottom: 41px;
}
}

@media (max-width: 728px) {
  .btn__span {
    display: none;
  }
}

@media (max-width: 658px) {
  .nav__list {
    gap: 24px;
    overflow-x: scroll;
  }

  .nav__list::-webkit-scrollbar {
    display: none;
    opacity: 0;
  }

.nav__link {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container {
  padding-left: 14px;
  padding-right: 15px;
}

.header {
  padding-bottom: 48px;
  padding-top: 16px;
}

.header__nav {
  bottom: -36px;
  left: 3px;
}

.hero__title {
  font-size: 54px;
  line-height: 51px;
  margin-bottom: 32px;
}

.hero__descr {
  font-size: 17px;
  line-height: normal;
  width: 100%;
  max-width: none;
  margin-bottom: 106px;
}

.hero__btn {
  font-size: 16px;
  padding: 18px 18px;
}

.hero {
  background-image: url("../img/fon1\(320\).jpg");
}

.hero__content {
  padding-top: 50px;
}
}

@media (max-width: 400px) {
  .events__img {
    height: 200px;
    object-fit: fill;
  }
}

@media (max-width: 576px) {

  .header {
    padding-bottom: 38px;
    padding-top: 15px;
  }

.header__svg {
  height: 18px;
  width: 18px;
}
.header__logo img {
  height: 22px;
  width: 97px;
}

.hero__content {
  padding-bottom: 50px;
}

.nav__link {
  font-size: 12px;
  font-weight: 700;
}

.header__nav {
  bottom: -26px;
}

.hero__title {
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 28px;
  text-align: center;
}

.hero__descr {
  margin-bottom: 40px;
  font-size: 12px;
  width: 100%;
  max-width: none;
  font-weight: 400;
  text-align: center;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.hero__btn {
  display: block;
  font-size: 12px;
  padding: 13px 18px;
  margin: 0 auto;
}

.section-title {
  font-size: 28px;
}

.us__descr {
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.1px;
}

.indents-sections {
  padding-top: 53px;
  padding-bottom: 40px;
}

.us__title {
  margin-bottom: 16px;
}

.gallery__title {
  margin-bottom: 22px;
}

.gallery__contain {
  gap: 27px;
}

.storage__right {
  flex-direction: column;
  gap: 26px;
}

.storage__img {
  width: 100%;
}

.gallery {
  padding-bottom: 45px;
}

.catalog__title {
  margin-bottom: 15px;
}

.catalog__descr {
  margin-bottom: 30px;
}

.painter__item {
  gap: 20px;
}

.painter__title {
  letter-spacing: 0.1px;
  line-height: 29px;
}

.painter__time {
  margin-bottom: 11px;
}

.catalog__list {
  gap: 32px;
}

.catalog {
  padding-bottom: 52px;
}
.events__title {
  margin-bottom: 15px;
}

.events__content {
  padding-top: 15px;
  padding-left: 23px;
  padding-right: 15px;
}
.events__time {
  margin-bottom: 10px;
}

.events__header {
  margin-bottom: 5px;
}

.events__descr {
  margin-bottom: 46px;
}

.events__list {
  gap: 21px;
}

.project__title {
  margin-bottom: 17px;
}
.projects__descr {
  margin-bottom: 19px;
  letter-spacing: 0.1px;
}

.projects__header {
  font-size: 18px;
  margin-bottom: 10px;
}

.projects__container {
  flex-direction: column;
  gap: 11px;
}

.partners__logo {
  padding: 29px 66px;
}

.address__strong {
  font-size: 18px;
  margin-bottom: 0;
}

.contacts {
  padding: 4px 0;
  padding-bottom: 50px;
}

.contacts__container {
  gap: 19px;
}

.addres__form {
  flex-direction: column;
  gap: 19px;
}

.form__input {
  padding: 6px 43px 1px 25px;
  width: 100%;
}

.div__input {
  width: 100%;
  height: 41px;
}

.div__input .form__input {
  width: 100%;
}

.form__input_btn {
  width: 44%;
  font-size: 15px;
  padding: 12px 17px;
}

.addres__strong_margin {
  margin-bottom: 6px;
  letter-spacing: -0.4px;
}

.links__social-media svg {
  width: 50px;
  height: 50px;
}

.footer__container {
  flex-direction: column-reverse;
  gap: 19px;
}

.footer {
  padding-top: 21px;
}

.footer__logo {
  width: 92px;
  height: 22px;
}

.footer__svg {
  width: 50px;
  height: 50px;
}

}
